@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "poppins";
  src: url("Poppins-Regular.ttf");
}
@font-face {
  font-family: "istok";
  src: url("IstokWeb-Regular.ttf");
}

body {
  font-family: poppins; 
  background-color: rgba(255, 248, 232, 1);

}
.heading {
  font-weight: 600; 
  font-size: 50px; 
}
.desc {
  background-color: white; 
  border-radius: 6px; 
  box-shadow: 2px 2px 1px grey;
  padding: 10px;
  margin: 10px 0;
}
.desc ul {
  list-style-type: disc;
  padding-left: 20px;
}

input[type="file"] {
  display:none;
  
}
.custom-file-upload {
  background-color: #FCEBCC;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: block;
  width: 150px;
  cursor: pointer;
  padding: 6px 12px;
}
.custom-file-upload:hover {
  opacity:0.5;
}
.sandy {
  background-color: rgba(252, 235, 204, 1);
}
.submit-btn {
  background-color: #ededed;
  color: black;
  border: 1px black;
}
.report {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.report-col {
  padding-left: 20px;
}
.summary-item {
  margin: 5px 0;
}
